<ul class="nav nav-list well sidebar-nav sidebar-nav-fixed">
<li class="nav-header">Développement d'une application avec le framework Play 2</li> 
<li ><a href="#introduction">Introduction</a></li>
<li ><a href="#configuration-play">Configuration de play</a></li>
<li ><a href="#analyse-application">Analyse d'une application</a></li>


<li><a href="#modeles" data-target="#menu-modeles" class="dropdown" data-toggle="collapse">Création des modèles <b class="caret"></b></a>
	<ul id="menu-modeles" class="nav nav-list collapse in">
		<li><a href="#configuration-modeles">Configuration</a></li>
		<li><a href="#classe-intervenant">Classe Intervenant</a></li>
		<li><a href="#classe-adhesion">Classe Adhésion</a></li>
		<li><a href="#retour-classe-intervenant">Retour sur la classe Intervenant</a></li>
	</ul>
</li>

<li><a data-target="#menu-controleur" class="dropdown" data-toggle="collapse" href="#controleurs">Création des controleurs <b class="caret"></b></a>
<ul id="menu-controleur" class="nav nav-list collapse in">
	<li><a href="#controleur-intervenants">Le controleur Intervenants</a><li>
</ul></li>

	
<li><a data-target="#menu-vues" class="dropdown" data-toggle="collapse" href="#vues">Les vues <b class="caret"></b></a>
<ul  id="menu-vues" class="nav nav-list collapse in">
	<li><a href="#formulaire-intervenant">Formulaire intervenant</a>
	<li><a href="#retour-controleur">Retour sur le controleur Intervenants</a>
	<li><a href="#vue-liste">Vue pour lister les intervenants</a>
</ul></li>
<li><a href="#adhesion">La partie adhésion</a></li>
<li><a href="#donnees-demarrage">Charger des données au démarrage</a></li>

<li><a data-target="#menu-documents" class="dropdown" data-toggle="collapse" href="#documents">Générer des documents <b class="caret"></b></a>
<ul id="menu-documents" class="nav nav-list collapse in">
	<li><a href="#installation-docx4j">Installation de docx4j</a></li>
	<li><a href="#code">Le code</a></li>
</ul></li>

<li><a data-target="#menu-habillage" class="dropdown" data-toggle="collapse" href="#habillage">Habillage <b class="caret"></b></a>
<ul id="menu-habillage" class="nav nav-list collapse in">
	<li><a href="#bootstrap">Bootstrap</a></li>
	<li><a href="#resultat">Résultat</a></li>
</ul>
<li><a href="#conclusion">Conclusion</a></li>
<li><a href="#references">Références</a></li>
</ul>

<script type="text/javascript">
$(".collapse").collapse()
</script>